@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fitness Tracking Application</h1>
    <p>TDOD: Here is where I will put individual day metrics that will be comprised of multiple meals with an added time. </p>
</div>
